<nav aria-label="Page navigation" class="my_pager">
    <ul class="pagination">
        <% if (page.count > 1) { %>
            <% if (page.number) { %>
                <li>
                    <a href="/?page=<%= page.number %>" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            <% } else { %>
                <li>
                    <span aria-hidden="true">&laquo;</span>
                </li>
            <% } %>
            <% for (var i = page.front; i > 0 ; i--) { %>
                <% if (page.number - i >= 0) { %>
                    <li>
                        <a href="/?page=<%= page.number - i + 1 %>">
                            <%= page.number - i + 1 %>
                        </a>
                    </li>
                <% } %>
            <% } %>
            <li class="active">
                <span><%= page.number + 1 %></span>
            </li>
            <% for (var i = 1; i <= page.end; i++) { %>
                <% if (page.number + i < page.count) { %>
                    <li>
                        <a href="/?page=<%= page.number + i + 1 %>">
                            <%= page.number + i + 1 %>
                        </a>
                    </li>
                <% } %>
            <% } %>
            <% if (page.number < page.count - 1) { %>
                <li>
                    <a href="/?page=<%= page.number + 2 %>" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            <% } else { %>
                <li>
                    <span aria-hidden="true">&raquo;</span>
                </li>
            <% } %>
        <% } %>
    </ul>
</nav>